.fragment-sync {
	float: right;
	margin-left: 8px;
	padding: 8px;
	font-size: 16px;
	background: transparentize($fg, .3);
	color: $bg;
	cursor: pointer;
	border-radius: 2px;
	&:hover {
		background: $fg;
	}
}
.fragment-json {
	position: fixed;
	z-index: 30;
	right: 0;
	bottom: 0;
	padding: 8px;
	font-size: 16px;
	color: #888;
	background-color: mix($fg, $bg);
	.fragment--advanced & {
		z-index: 30;
		max-width: calc(100vw - 2rem);
		max-height: calc(100vh - 2rem);
		overflow: auto;
		background: grayscale($bg);
		color: grayscale($fg);
		box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
	}
}
@media (min-width: 52rem) {
	.fragment-json:hover {
		max-width: 50rem;
	}
}
.fragment-pre {
	font-size: 1rem;
	line-height: 1.2rem;
}
.fragment-type {
	margin-left: 0.2em;
	border-radius: 3px;
	padding: 2px 6px;
	font-size: 0.75em;
	line-height: 16px;
	background-color: mix($fg, $bg, 15%);
	opacity: .7;
	.inp-text>& {
		margin-left: .5em;
	}
	header:hover &,
	.inp-actions:hover>& ,
	.focus-prop .value-object:hover>& {
		opacity: 1;
	}
}

/* Fragment > Backdrop */

.backdrop {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 1s;
  opacity: 0;
  width: auto;
  height: auto;
}
.backdrop--active {
	opacity: .5;
  pointer-events: all;
}
.backdrop--fixed {
	position: fixed;
  z-index: 9;
}
