.inp-nav>input {
	color: white;
}

/* Flexie */

.inp-label {
	position: relative;
	flex: 0 0 auto;
	display: inline;
	padding: 0 1em 0 0;
	margin: 0;
	width: auto;
	font-size: 14px;
	opacity: 1;
	font-size: 16px;
	opacity: .7;
}
.inp-text {
	position: relative;
	flex-grow: 1;
	display: flex;
	align-items: stretch;
	margin: 0;
	padding: 7px 8px 7px 0;
	line-height: 24px;
	&:hover {
		//background: white;
	}
	&>label {
		flex: 0 0 auto;
		padding: 0 1em 0 0;
		width: auto;
		opacity: .7;
	}
	&>input,
	&>textarea {
		display: block;
		flex: 10 0 50px;
		margin-left: 0;
		border: 0;
		border-bottom: 1px solid transparent;
		padding: 0;
		padding-left: 4px;
		resize: none;
		font: inherit;
		color: inherit;
		width: auto;
		background: none;
		&:focus {
			outline-offset: 0;
			outline: 3px solid transparentize($fg, .8);
			background-color: transparentize($fg, .8);
		}
		&:invalid {
			border-bottom: 1px dashed $warning;
			font-style: italic;
		}
	}
	&>select {
		flex: 0 0 auto;
		margin-left: .5em;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
.inp-fake {
	flex: 100 0 auto;
	margin-left: 1em;
}
.inp-subtle {
	position: relative;
	display: inline;
	line-height: 0;
	>input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border: inherit;
		padding: inherit;
		font: inherit;
		line-height: inherit;
		background: none;
		color: $fg;
		&::-webkit-input-placeholder {
			color: inherit;
		}
		&:focus {
			outline-offset: 0;
			outline: 3px solid transparentize($fg, .8);
			background-color: transparentize($fg, .8);
		}
	}
}
.inp-subtle-span {
	display: inline-block;
	min-width: 30px;
	max-width: 100%;
	color: transparent;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
}
.inp-search {
	margin-bottom: 10px;
	>input {
		padding-left: 10px;
		color: $fg;
		background-color: transparentize($bg, .3)!important;
		outline: none!important;
		&::-webkit-input-placeholder {
			color: transparentize($fg, .3);
		}
	}
}
