$focusStrength: .95;

/* Flexie */

.inp-label {
	position: relative;
	flex: 0 0 auto;
	display: inline;
	padding: 0 1em;
	margin: 0;
	width: auto;
	// font-size: 14px;
	// opacity: 1;
	font: inherit;
	height: 1.5em;
	opacity: .7;
}
.inp-big-focus {
	&:focus {
		outline-offset: 0;
		outline: 3px solid transparentize($fg, $focusStrength);
		background-color: transparentize($fg, $focusStrength);
		outline: 3px solid $bgNav;
		background-color: $bgNav;
	}
	&:invalid {
		border-bottom: 1px dashed $warning;
		font-style: italic;
	}
}
.inp-text {
	position: relative;
	flex-grow: 1;
	display: flex;
	margin: 0;
	padding: 7px 8px 7px 0;
	line-height: 1.5em;
	&:hover {
		//background: white;
	}
	&>input,
	&>textarea {
		display: block;
		flex: 10 0 50px;
		margin-left: 0;
		border: 0;
		border-bottom: 1px solid transparent;
		padding: 0;
		padding-left: 4px;
		min-width: 2em;
		resize: none;
		font: inherit;
		height: 1.5em;
		color: inherit;
		width: auto;
		background: none;
	}
	&>select {
		flex: 0 0 auto;
		margin-left: .5em;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	&>.btn {
		flex: 1 0 auto;
	}
}
.inp-fake {
	flex: 100 0 auto;
	margin-left: 1em;
}
.inp-subtle {
	position: relative;
	display: inline-block;
	line-height: inherit;
	flex-grow: 1;
	// outline: 1px solid red;
	>textarea,
	>input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: inherit;
		padding: inherit;
		font: inherit;
		line-height: inherit;
		background: none;
		color: $fg;
		overflow: hidden;
		resize: none;
		&::-webkit-input-placeholder {
			color: inherit;
		}
		&::-moz-placeholder {
			color: inherit;
		}
	}
}
form.inp-subtle {
	display: inline;
}
.inp-subtle-span {
	min-width: 30px;
	max-width: 100%;
	flex-grow: 1;
	color: transparent;
	white-space: pre-wrap;
}
.inp-search {
	margin-bottom: 10px;
	>input {
		padding-left: 10px;
		color: $fg;
		background-color: transparentize($bg, .3)!important;
		outline: none!important;
		&::-webkit-input-placeholder {
			color: transparentize($fg, .3);
			font-weight: 300;
		}
		&:-moz-placeholder {
			color: transparentize($fg, .3);
		}
	}
}
.inp-alert {
	background-color: transparentize(red, .5);
}
.inp-error>input {
	background-color: transparentize(red, .7);
	outline: 3px solid transparentize(red, .7);
}

/* Input > that looks like a fragment type label */

.inp-type {
	>input:focus {
		background-color: $bgNav;
		outline: 3px solid $bgNav;
	}
	>.ref-select {
		left: 0;
		border-radius: 3px;
		min-width: 100%;
	}
}
.inp-type-active {
	opacity: 1;
}

/* Input > icon that tells what type of input we're dealing with */

.inp-type-icon {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin-left: -10px;
	min-width: 25px;
	text-align: center;
	vertical-align: top;
	font-size: 1.8em;
	line-height: .74em;
	overflow: hidden;
	opacity: .5;
	&:focus {
		color: $focus;
		opacity: 1;
		outline: none;
	}
}

/* Debug */

// .inp-subtle {
// 	input, textarea {
// 		color: green
// 	}
// }
// .inp-subtle-span {
// 	color: red;
// }

/* Subtle input variations, to be refactored into .inp-growing */

.inp-subtle > .inp-literal-type {
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	border: inherit;
	padding: inherit;
	font-size: 0.85em;
	line-height: inherit;
	background: none;
	color: white;
	overflow: hidden;
	resize: none;
	margin-left: 0.2em;
	border-radius: 3px;
	padding: 2px 6px;
	font-size: 0.75em;
	line-height: 16px;
	background-color: #3d4051;
	opacity: .7;
}

/* Actions related to inputs */

.inp-actions {
	position: relative;
	z-index: 1;
}

/* Dropdown suggestions below an input, TODO: smart positioning */

.ref-select {
	position: absolute;
	z-index: 20;
	top: 100%;
	left: -3px;
	margin-top: 3px;
	min-width: calc(100% + 6px);
	font-size: 12px;
	background-color: $bgNav;
	color: $fgNav;
	white-space: normal;
	cursor: pointer;
	overflow: hidden;
}
.ref-scroll {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 30em;
	width: calc(100% + 30px);
}
.ref-option {
	padding: 0 10px;
	white-space: nowrap;
	line-height: 2em;
}
.ref-ghost {
	background-color: mix($fg, $bg, 15%);
}

/* input-single */

.inp-single {
	display: block;
	text-align:right;
}
