.inp-text {
	position: relative;
}
.inp-text>label {
	width: 8rem;
	margin-bottom: 0;
	float: left;
}
.inp-text>input,
.inp-text>textarea,
.inp-text>select {
	display: block;
	margin-left: 8.5rem;
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 0;
	padding-left: 4px;
	width: calc(100% - 8.5rem);
	font: inherit;
	color: inherit;
	&:focus {
		outline-offset: 0;
		outline: 3px solid transparentize(white, .8);
		background-color: transparentize(white, .8);
	}
}
.inp-text>select {
	width: auto;
}
.inp-nav>input {
	color: white;
}

/* Flexie */

.inp-label {
	position: relative;
	flex: 0 0 auto;
	display: inline;
	padding: 0 1em 0 0;
	margin: 0;
	width: auto;
	font-size: 14px;
	opacity: 1;
	font-size: 16px;
	opacity: .7;
}
.inp-text {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
	margin: 0;
	padding: 7px 8px 7px 0;
	line-height: 24px;
	&:hover {
		//background: white;
	}
	&>label {
		flex: 0 0 auto;
		padding: 0 1em 0 0;
		width: auto;
		opacity: .7;
	}
	&>input,
	&>textarea {
		flex: 10 0 50px;
		margin-left: 0;
		width: auto;
		background: none;
		border-bottom: 1px solid transparent;
		&:invalid {
			border-bottom: 1px dashed $warning;
			font-style: italic;
		}
	}
	&>select {
		flex: 0 0 auto;
		margin-left: .5em;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
.inp-fake {
	flex: 100 0 auto;
	margin-left: 1em;
}
.label-prop>.inp-prop {
	flex: 0 0 8em;
	margin-right: 2em;
}

.inp-subtle {
	position: relative;
	display: inline-block;
	min-width: 50px;
	height: 10px;
	color: rgba(0,0,0,0);
	white-space: pre;
	>input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border: 0;
		font: inherit;
		line-height: 1.4em;
		background: none;
		color: $fg;
		&:focus {
			outline-offset: 0;
			outline: 3px solid transparentize(white, .8);
			background-color: transparentize(white, .8);
		}
	}
}

.inp-search {
	margin-bottom: 10px;
	>input {
		padding-left: 10px;
		background-color: transparentize(white, .8);
	}
}
