.modal {
	position: fixed;
	z-index: 50;
	top: 0;
	height: 100%;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: $bg;
	color: $fg;
}
.modal-body {
	max-width: 50rem;
}
.modal-enter-active, .modal-leave-active {
	opacity: 1;
	transition: opacity .3s, transform .3s;
	.modal-body {
		transition: opacity .3s, transform .3s;
		transform: translateX(0);
	}
}
.modal-enter,
.modal-leave-active {
	opacity: 0;
	.modal-body {
		transform: translateY(200px);
	}
}

.modal-nudge {
  animation: nudge .5s linear;
}

@keyframes nudge {
  10% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  55% {
    transform: translateX(10px);
  }
  85% {
    transform: translateX(-10px);
  }
}