html {
	font-size: inherit;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", sans-serif;
	overflow-y: scroll;
}
* {
	box-sizing: border-box;
}
p {
	margin: 1em 0;
}
a {
	color: inherit;
}
.btn-reset {
	color: inherit;
	border: 0;
}

/* Type */

h1 {
	margin: 0 0 .5em;
	font-size: 1.5em;
	line-height: 1.4em;
	font-weight: 400;
}
h2 {
	margin: 2rem 0 0;
	opacity: .5;
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .5px;
	&:first-child {
		padding-top: 0;
	}
	small {
		text-transform: none;
		font-weight: normal;
		font-size: 14px;
		&::before {
			content: '\2014  ';
		}
	}
}
