/* Structure utilities */

.container {
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 40em;
}
.container-screen {
	padding-left: 1em;
	padding-right: 1em;
}
.container-page {
	padding-left: 2cm;
	padding-right: 2cm;
}
.container-nav {
	justify-content: flex-end;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 8px;
	max-width: none;
}

/* Main structure */

body {
	background: $bgNav;
	color: $fgNav;
	transition: background 0.3s, color 0.3s;
}

/* Main scrollbar */

::-webkit-scrollbar {
  position: absolute;
  background: $bgNav;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border: 1px solid $bgNav;
  background: mix($fg, $bg, 20%);
  border-radius: 4px;
  width: 6px;
}

/* Structure > nav */

.nav-content {
	color: $fgNav;
	line-height: 16px;
	font-size: 14px;
	padding: 1rem 1rem 0;
	word-break: break-word;
	.inp-text {
		padding-right: 0;
	}
}

/* Structure > content */

.section-content {
	position: relative;
	padding: 2rem 1rem;
	background: none;
	color: $fg;
	transition: background-color .5s, transform .3s;
}
.section-content--focus {
	background: transparentize($bg, 1);
}
.section-intro {
	a {
		color: $focus;
		font-weight: 500;
	}
	a:visited {
		color: mix($focus, $fg, 60%);
	}
}
.app--wide .section-content {
  transform: translateY(11vh);
}

/* Structure > Tablet */

@media (min-width: 500px) and (max-width: 939px) {
	.nav-links {
		float: right;
		margin: 0.5rem 0 0 0.5rem;
		line-height: 24px;
		background-color: $bg;
		a {
			padding: 0 0.5rem;
			text-decoration: none;
		}
	}
}

/* Structure > Computer */

@media (min-width: 940px) {
	.nav-pane {
		position: fixed;
		top: 64px;
		left: 0;
		bottom: 0;
		width: 16rem;
		overflow: hidden;
	}
	.nav-content {
		padding-right: 0;
		width: calc(100% + 30px);
		max-height: 100%;
		overflow: hidden;
		overflow-y: scroll;
	}
	.nav-fixwidth {
		width: 14rem;
	}
	.nav-links {
		display: flex;
		justify-content: space-between;
	}
	.section-content {
		padding: 2rem 1rem;
		margin: 0 auto;
		max-width: 50rem;
	}
	.section-intro {
		.hero {
			padding-bottom: 2rem;
		}
	}
	.app--left {
		.section-content {
			transform: translateX(16rem);
		}
	}
}

/* Structure > Center layout */

@media (min-width: 82rem) {
	.nav-pane {
		width: calc(100vw / 2 - 25rem);
	}
	.nav-fixwidth {
		width: calc(100vw / 2 - 27rem);
	}
	.section-content {
		margin-left: calc(100% / 2 - 25rem);
	}
}
