.opacity-transition {
	opacity: 1;
	transition: opacity 3s;
}
.opacity-leave {
	opacity: 0;
}

.staggered-transition {
  transition: opacity .5s ease, height .5s ease;
  overflow: hidden;
}
.staggered-enter, .staggered-leave {
  opacity: 0;
  height: 0;
}
