.opacity-enter-active, .opacity-leave-active {
  opacity: 1;
  transition: opacity .5s;
}
.opacity-enter, .opacity-leave-to {
  opacity: 0;
}

.plugin-enter-active, .plugin-leave-active {
  opacity: 1;
  transition: opacity .5s, transform .5s;
}
.plugin-enter, .plugin-leave-to {
  opacity: 0;
  transform: scale(.1) translateY(-50vh);
}


// .staggered-enter-active, .staggered-leave-active {
//   transition: transform .5s ease,  opacity .5s ease;
// }
// .staggered-enter, .staggered-leave-to {
//   opacity: 0;
//   transform: translateX(20px);
// }
.staggered-leave-active {
	position: absolute;
}
.staggered-move {
  transition: transform .3s ease;
}
