/* Variables */

$border:1px solid #bbb;
$fg: white;
$bg: #134;
$fgNav: mix($fg, $bg, 80%);
$bgNav: darken($bg, 10);
$bgNest: #345;
// $fg: black;
// $bg: white;
// $fgNav: black;
// $bgNav: darken($bg, 10);
$warning: orange;
$warning: mix(orange, $fg, 85%);
$info: #0ff;
